#main{
  overflow-y: scroll;
  overflow-x: hidden;
}




body{
	margin: 2px;
	 font-size: 50px;
	 overflow-y: scroll;
  overflow-x: hidden;
}


.containe{
	
	

	
}
.header-wrap{
	
	background:#3089FD ;
	 font-weight:bolder;
     font-size: 42%;
     color: #FFFDEF;
	
}
.header-wrap  .header-left{
	padding-right: 5px;
	margin-top:4% ;
	
}
.header-wrap  .header-right{
	margin-top:7% ;
}

.header-wrap  .header-right >span{
	padding: 7px;
}

/*heard-down*/

.header-wrap .header-down {
	margin-top: 12%;
	font-size: 50px;
	height:60px;
	
}

.header-wrap .header-down {
	position: relative;
	
}

.header-wrap .header-down .header-down-left {
	
}




.header-wrap .header-down .img-circle{
	margin-top: -19%;
	margin-left: 8%;
	width: 55px;
	height: 55px;
	border: 2px solid #FFFBF0;
	border-radius: 50px ;
}
.header-wrap .header-down .header-down-name{
	margin-top: -11%;
   margin-left: 10%;
   width: auto;
	font-size: 40%;
}

.header-wrap .header-down .header-down-right{
	position: absolute;
   top: -30%;
	left: 28%;
	font-size: 36%;
	color: #EEEDF0;
	font-family: "宋体";
	
}
.header-wrap .header-down .header-down-right .down-padding{
	padding: 4px;
}


.content-wrap{
	
	
}
.content-wrap .date{
	margin-left: 10px;
	font-size: 35%;
	margin-top: 10px;
	
	
}





.content-wrap .leidatu{
	text-align: center;
	width: auto;
	height: 280px;
}


.button-wrap{
	margin-top: -8%;
	
	
}

.button-wrap .button{
	
    font-size: 30px;
	  height: 45px;
		width: 90%;
	
	
}
.button-wrap .score{
	
	font-size: 40px;
	
	
}

.content-wrap .hr{
	border: 2px solid #CCCCCC;
	margin-bottom: 0px;
	
}

.content-wrap .commer{
	margin-top: -18px;
}
.content-wrap .commer span{
	
	margin-left: 2%;
	font-size:40% ;
	font-family: "微软雅黑";
	font-weight: bold;
	color: #1079FE;
}
.content-wrap .commer hr{
	border: 1px solid #CCCCCC;
	margin-top: 0px;
	margin-bottom: 0px;
}


.content-wrap .comter{
	width: 100%;
	height: auto ;
	font-size:35%;
	
    
}
